:root{
    --color1:#f2e8c4;
    --color2:#98d9b6;
    --color3:#3ec9a7;
    --color4:#2b879e;
    --color5:#616668;
}

/* CONFIGURACIONES GENERALES */
body{
    background-color: var(--color4);
}
.contenedor-general{
    padding-right: 0px;
}

/* NavBar */

/* breadcrum */

